<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.szakdoga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/smartevents"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".main_menu_to_participants.EventDetails"></activity>
        <activity android:name=".main_menu_to_participants.Navigation" />
        <activity android:name=".signin_up.SignIn" />
        <activity android:name=".main_menu_to_organizer.NavigationBar" />
        <activity android:name=".main_menu_to_organizer.Home" />
        <activity android:name=".signin_up.SignUp" />
        <activity android:name=".signin_up.ForgotPassword" />
        <activity android:name=".welcome.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdNZXGq7klCMmHB2Jj8_vKGGv-T-9NLRA" />
    </application>

</manifest>